{% extends "base.html" %}

{% block head %}
<title>Download video</title>
{% endblock %}
{% block body %}
<div class="content">
    <form action="/download" method="post">
    <input type="text" name="url" name="url">
    <input type="submit" name="download" value="Download">

    </form>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</div>

{% if processing %}
<div class="success-message">
    Video processing has started! Your chapters will be ready in just a few moments.
</div>
{% endif %}

<p>Chapters</p>
{% if video_files %}
    <ul>
        {% for video_file in video_files %}
        <li>
            {{video_file.name}}
            <br>
            <video width="640" height="360" controls>
                <source src="{{ video_file.url }}" type="video/mp4">
                Your browser does not support video tag.
            </video>
        </li>
        {% endfor %}
    </ul>
    {% endif %}


{% endblock %}