{% extends 'base.html' %}

{% block head %}
<title>Video</title>
{% endblock %}

{% block body %}
<p>Chapters</p>
{% if video_files %}
    <ul>
        {% for video_file in video_files %}
        <li>
            <video width="640" height="360" controls>
                <source src="{{ url_for('chapters_static', filename=video_file) }}" type="video/mp4">
                Your browser does not support video tag.
            </video>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}